[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastmcp = "*"
asyncio = "*"
pytz = "*"
python-dateutil = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"

[scripts]
test = "pytest"
server = "python passage_of_time_mcp.py"
